@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: url("./img/hatter.png");

    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
}

h2{
    text-align: center;
    color: white;
}

input{
    background: transparent;
    border: 2px solid white;
}

input:focus{
    border: 2px solid #ff5c33;
    outline: none;
}

.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 90px;
    max-width: 30%;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: all 0.3s ease;
}

.button:hover{
    background: rgba(255, 255, 255, 0.25);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 3px solid #ff5c33;
}

a.bookmark{
    text-align: right;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 50px;
}

table.inputs{
    width: 50%;
    text-align: right;
    margin: 50px auto;
    margin-bottom: 20px;
    color: white;
}

table.inputs td:first-child{
    background-color: rgba(0, 0, 0, 0.1);
}


table.queryresults
{
    width: 80%;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    border-radius: 30px;
    border-collapse: collapse;
}

table th, table td
{
    border: 2px solid white;
    padding: 10px;
}

table th
{
    background-color: rgba(0, 0, 0, 0.1);
}

.inputcell
{
    padding: 0;
}

.inputcell input
{
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 10px;
    border: none;
    font-family: monospace;
    font-size: 20px;
}

table td input, table button
{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
}

button {
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover
{
    border: 2px solid #ff5c33;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

button.save{
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 200px;
}

button.save:hover
{
    border: 2px solid #ff5c33;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
